header .nav-link:hover {
  color: #09fbff; }

header .text-center {
  margin-top: 10px; }

header .logo {
  width: 200px; }

header .carro {
  width: 60px; }

@media only screen and (min-width: 360px) {
  .carro {
    margin: 100px;
    margin-top: 30px; }
  .logo {
    margin: 40px; } }

main .btn {
  margin: 20px; }

main #galeria .col-lg-3 {
  margin: 0 !important;
  padding: 25px; }

main .ratio .ratio-16x9 {
  width: 50%; }

main #titulo1:hover {
  color: blueviolet; }

main iframe {
  margin: 5px;
  width: 80%;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

main .row {
  display: flex;
  justify-content: center; }

main .card {
  width: 350px; }

main form {
  display: flex;
  flex-direction: column;
  background: #fff;
  text-align: center;
  padding: 20px 25px;
  box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7); }

main form .title {
  color: #252525;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 30px; }

main form label {
  margin-bottom: 35px; }

main form label .fa-solid {
  font-size: 20px;
  color: #cb232c;
  margin-right: 10px; }

main form label input {
  outline: none;
  border: none;
  color: #252525;
  border-bottom: solid 1px #ce1d61;
  padding: 0 5px;
  font-size: 18px; }

main form label input::placeholder {
  color: rgba(37, 37, 37, 0.5); }

main form .link {
  color: #252525;
  margin-bottom: 15px; }

main form button {
  color: #fff;
  border: none;
  background: linear-gradient(to right, #cb232c, #ce1d61);
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px; }

@media only screen and (min-width: 360px) {
  .card {
    margin: 20px; }
  .carro {
    margin: 100px;
    margin-top: 30px; }
  #galeria img {
    width: 80%;
    height: 400px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }
  .videos iframe {
    margin: 5px;
    width: 80%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }
  .carousel-inner {
    margin: 20px; } }

div.encabezado {
  color: red;
  text-align: center;
  font-size: 35px; }

.boton, .boton-enviar, .boton-reset {
  width: 100px;
  height: 40px;
  font-size: 20px;
  color: black;
  background-color: wheat;
  border: 1px solid black; }

.boton-enviar {
  background-color: green;
  color: white;
  border: 1px solid green; }

.boton-reset {
  background-color: red;
  color: white;
  border: 1px solid red; }
