header .nav-link:hover {
  color: #09fbff; }

header .text-center {
  margin-top: 10px; }

header .logo {
  width: 200px; }

header .carro {
  width: 60px; }

main .btn {
  margin: 20px; }

main #galeria .col-lg-3 {
  margin: 0 !important;
  padding: 25px; }

main .ratio .ratio-16x9 {
  width: 50%; }

main #titulo1:hover {
  color: blueviolet; }

main iframe {
  margin: 5px;
  width: 80%;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

main .row {
  display: flex;
  justify-content: center; }
