header{
    .nav-link:hover{
        color: rgb(9, 251, 255);
    }
    
    .text-center {
        margin-top: 10px;
    }
    
    .logo {
        width: 200px;
    }
    
    .carro {
        width: 60px;
    }


}
@media only screen and (min-width: 360px) {
    .carro {
        margin: 100px;
        margin-top: 30px;
    }

    .logo {
        margin: 40px;
    }




}