@import "header" ;
main{
    .btn {
        margin: 20px;
    }
    
    #galeria .col-lg-3 {
        margin: 0 !important;
        padding: 25px;
    }
    .ratio .ratio-16x9{
        width: 50%;
    }
    
    #titulo1:hover{
        color: blueviolet;
    }
    
    iframe {
        margin: 5px;
        width: 80%;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
    .row{
        display: flex;
        justify-content: center;
    }
    
    
}
